# Среда разработки и кэш
__pycache__/
*.py[cod]
*$py.class
.vscode/

# Конфиденциальные файлы с реальными паролями
config.json
.env

# Временные файлы сборки PyInstaller
build/
dist/
*.spec

# Медицинские данные пациентов и архивы (152-ФЗ / Врачебная тайна)
Входящие_Эпикризы/
Готовые_Архивы/
temp_sorting/
*.rtf
*.pdf
*.docx
*.doc
*.zip
*.xlsx